<form>
  <mat-form-field>
    <mat-label>Chercher un pokemon</mat-label>
    <input matInput placeholder="Chercher un pokemon " [ngModel]="this.pokemonSearch"
           (ngModelChange)="searchPokemon($event)" name="search"/>
  </mat-form-field>
</form>
<mat-nav-list infiniteScroll (scrolled)="onscroll()">
  <mat-list-item *ngFor="let pokemon of pokemons" (click)="onclick(pokemon.id)">
    <img matListAvatar src="assets/img/sprites/{{pokemon.id}}.png" alt="...">
    <h3 matLine>
      <!--<a routerLink="/pokemons/{{pokemon.id}}">-->

      {{pokemon.id}}
      .
      {{pokemon.name}}
      <!-- </a>-->
    </h3>
  </mat-list-item>
</mat-nav-list>
